#enter {
  background: linear-gradient(00deg, #fd4fff 0%, #1a3fff 100%);
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.enter {
  max-width: $maxWidth;
  padding: 75px 20px 110px;
  margin: auto;
  position: relative;
  z-index: 3;
  &__header {
    @include header;
    color: white;
    margin: 0 0 45px;
  }
  &__button-block {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 20px;
      font-size: 12px;
      color: white;
      vertical-align: middle;
    }
  }
}