@mixin listSpan {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  margin: auto;
  z-index: -1;
  border-radius: 50%;
  left: 0;
  top: -2px;
}
#info {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $maxWidth;
  margin-bottom: 50px;
  &_reverse {
    flex-direction: row-reverse;
  }
  > :first-child {
    margin-right: 10px;
  }
  > :last-child {
    margin-left: 10px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    &_main {
      @include header;
    }
  }
  &__list {
    border: 0;
    border-spacing: 10px 15px;
    margin: 0 -10px;
    width: 100%;
    &-number {
      position: relative;
      width: 45px;
      height: 45px;
      font-size: 34px;
      font-weight: 600;
      > span {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        margin: auto;
        width: 100%;
        user-select: none;
      }
      &_blue {
        > span {
          color: rgb(45, 45, 255);
          &::before {
            @include listSpan;
            background-color: rgba(173, 216, 230, 0.3);
          }
        }
      }
      &_violet {
        > span {
          color: rgb(144, 0, 255);
          &::before {
            @include listSpan;
            background-color: rgba(202, 142, 255, 0.3);
          }
        }
      }
      &_red {
        > span {
          color: rgb(255, 113, 62);
          &::before {
            @include listSpan;
            background-color: rgba(255, 186, 152, 0.3);
          }
        }
      }
    }
    &_text {
      color: rgb(138, 138, 138);
    }
  }
  button {
    margin-top: 30px;
  }
}